---
import ProjectList from '../components/ProjectList.astro';
---

<html lang="es">

  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="../favicon.svg">
    <title>Emanuel Buzey portfolio</title>
    <link rel="stylesheet" href="../src/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>

  <body>

    <div class="content-container">
      
      <div class="profile-action">
        <img src="../images/home/emanuel_buzey.gif" alt="Emanuel Buzey" class="profile-photo">
        <a href="https://wa.me/34644600780?text=Hi%20Emanuel,%20I%20would%20like%20to%20talk%20to%20you" target="_blank">
          <button>Let's Talk</button>
        </a>
      </div>

      <h1>Hi there! I'm Emanuel 👋</h1>
      
      <p>With over 7 years of experience, I'm a <span style="font-weight: bold; color: #3bba9c;">Fullstack Developer</span> based in Valencia, Spain 🇪🇸. I specialize in crafting web applications using <span style="font-weight: bold; color: #3bba9c;">Python, Django, and Vue.js</span>, and I also have experience as an <span style="font-weight: bold; color: #3bba9c;">Odoo</span> implementer.</p>


      <div class="contact-info">
        <a href="mailto:buzeyemanuel@gmail.com">
          <i class="fas fa-envelope"></i>
        </a>

        <a href="https://www.linkedin.com/in/emanuel-buzey-a76631143/" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-linkedin"></i>
        </a>

        <a href="https://github.com/ebuzey" target="_blank" rel="noopener noreferrer">
          <i class="fab fa-github"></i>
        </a>

        <a href="../files/CV.pdf" download class="btn-download-cv">
          <i class="fas fa-file-download"></i> Download My CV
        </a>
      </div>
    </div>

    <section>
      <h2>Latest Developments and Integrations</h2>
      <ProjectList />
    </section>
  </body>
</html>
